:root {
  --c-white: #fff;
  --c-black: #000;
  --c-yellow: #f1f2ae;
  --c-lightYellow: #e7efd6;
  --c-grey: #d9d9d9;
  --c-pink: #f9d7d7;
  --c-blue: #bdcdf6;
  --f-base: "Montserrat", sans-serif;
  --fw-base: 400;
  --fw-big: 600;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
body {
  background-color: var(--c-white);
  font-weight: var(--fw-base);
  font-family: var(--f-base);
  color: var(--c-black);
}
